/* callout.css */

.callout {
    padding: 16px;
    margin-bottom: 20px;
}

.callout.tip {
    background-color: #f9f9f9;
    border-left: 4px solid #79B8FF;
}

.callout.note {
    background-color: #f9f9f9;
    border-left: 4px solid #FFB366;
}

.callout.warning {
    background-color: #f9f9f9;
    border-left: 4px solid #FF7070;
}
