---
layout: default
type: home
title: I'm John Doe
---

<!--
Every section you see here in the website homepage are included here.
All these included files are found inside '_includes' folder.
You can edit them there.
 -->

<p>
  I'm working as a web developer in Zetronet. In my free time I design WordPress
  themes. Some of my themes are featured in Awwwards.
</p>

<p>
  Nibh ipsum consequat nisl vel pretium lectus. Et netus et malesuada fames ac
  turpis egestas. Feugiat vivamus at augue eget arcu dictum. Lectus nulla at
  volutpat diam ut venenatis tellus in. Massa tincidunt dui ut ornare lectus
  sit. Mattis nunc sed blandit libero volutpat sed. Mi eget mauris pharetra et
  ultrices neque ornare. Pulvinar sapien et ligula ullamcorper.
</p>

{% include expertise.html %}

<p>
  Volutpat blandit aliquam etiam erat velit scelerisque. Non pulvinar neque
  laoreet suspendisse. Sapien pellentesque habitant morbi tristique senectus et.
  Proin nibh nisl condimentum id. At consectetur lorem donec massa sapien
  faucibus et molestie ac. Gravida arcu ac tortor dignissim convallis aenean et.
</p>

{% include projects.html %}

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Tristique sollicitudin nibh sit
  amet. At quis risus sed vulputate odio ut. Quis eleifend quam adipiscing vitae
  proin sagittis nisl rhoncus mattis. Urna duis convallis convallis tellus id
  interdum. Quis viverra nibh cras pulvinar mattis nunc sed blandit libero.
  Volutpat est velit egestas dui id ornare. Amet massa vitae tortor condimentum.
</p>

{% include blogs.html %}

<p>
  Nibh ipsum consequat nisl vel pretium lectus. Et netus et malesuada fames ac
  turpis egestas. Feugiat vivamus at augue eget arcu dictum. Lectus nulla at
  volutpat diam ut venenatis tellus in. Massa tincidunt dui ut ornare lectus
  sit. Mattis nunc sed blandit libero volutpat sed. Mi eget mauris pharetra et
  ultrices neque ornare. Pulvinar sapien et ligula ullamcorper.
</p>
<p class="d-flex">
  {% include buy-button.html %}
</p>
