<!DOCTYPE html>
<html>
<head>
    <title>Blogs</title>
    <style>
        .blogs {
            max-width: 800px;
            margin: 0 auto;
        }
        
        .blog {
            margin-bottom: 20px;
            padding: 20px;
            background-color: #f2f2f2;
        }
        
        .blog h3 {
            color: #333333;
        }
        
        .blog p {
            color: #666666;
        }
        
        .blog a {
            color: #4CAF50;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="blogs">
        <div class="blog">
            <h3>Blog Post 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla scelerisque bibendum urna sed facilisis.</p>
            <a href="blog1.html">Read more</a>
        </div>
        <div class="blog">
            <h3>Blog Post 2</h3>
            <p>Donec vulputate tellus ut tortor dignissim bibendum. Integer vel dignissim mi.</p>
            <a href="blog2.html">Read more</a>
        </div>
        <div class="blog">
            <h3>Blog Post 3</h3>
            <p>Quisque dapibus diam ut nulla congue malesuada. Integer venenatis tellus id massa sagittis gravida.</p>
            <a href="blog3.html">Read more</a>
        </div>
    </div>
</body>
</html>
