<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <!-- Prefetch DNS for faster page speed -->
  <link rel="dns-prefetch" href="//fonts.googleapis.com" />
  <link rel="dns-prefetch" href="//google-analytics.com" />
  <link rel="dns-prefetch" href="//www.google-analytics.com" />
  <link rel="dns-prefetch" href="//maxcdn.bootstrapcdn.com" />
  <link rel="dns-prefetch" href="//ajax.googleapis.com" />
  <link rel="dns-prefetch" href="//fonts.gstatic.com" />
  {% if page.url contains 'blog' %}
  <!-- Prefetch disqus DNS for faster page speed -->
  <link rel="dns-prefetch" href="https://{{site.disqus}}.disqus.com/" />
  {% endif %} {% if page.url == '/' %}
  <!-- Prerender next pages for faster page speed -->
  <link rel="prerender" href="{{'/contact/' | relative_url }}" />
  <link rel="prerender" href="{{'/blog/' | relative_url }}" />
  {% endif %}

  <!-- SEO meta tags -->
  {% seo %} {% if page.layout != 'post' %}
  <meta property="og:image" content="{{site.url}}{{site.default-image}}" />
  {% endif %}

  <!-- Custom CSS -->
  <link
    rel="stylesheet"
    href="{{'/assets/css/main-default.css' | relative_url }}"
  />
  {% if site.data.main.color-scheme == 'green' %}
  <link
    id="color-scheme"
    rel="stylesheet"
    href="{{'/assets/css/main-default.css' | relative_url }}"
  />
  {% elsif site.data.main.color-scheme == 'blue' %}
  <link
    id="color-scheme"
    rel="stylesheet"
    href="{{'/assets/css/main-blue.css' | relative_url }}"
  />
  {% elsif site.data.main.color-scheme == 'purple' %}
  <link
    id="color-scheme"
    rel="stylesheet"
    href="{{'/assets/css/main-purple.css' | relative_url }}"
  />
  {% elsif site.data.main.color-scheme == 'pink' %}
  <link
    id="color-scheme"
    rel="stylesheet"
    href="{{'/assets/css/main-pink.css' | relative_url }}"
  />
  {% elsif site.data.main.color-scheme == 'orange' %}
  <link
    id="color-scheme"
    rel="stylesheet"
    href="{{'/assets/css/main-orange.css' | relative_url }}"
  />
  {% endif %}

  <!-- Icons -->
  <!-- Replace these icons with your own. -->

  <link
    rel="apple-touch-icon"
    sizes="60x60"
    href="{{'/assets/img/apple-icon-60x60.png' | relative_url }}"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="{{'/assets/img/apple-icon-114x114.png' | relative_url }}"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="{{'/assets/img/apple-icon-152x152.png' | relative_url }}"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="{{'/assets/img/android-icon-192x192.png' | relative_url }}"
  />
  <link
    rel="shortcut icon"
    href="{{'/favicon.ico' | relative_url }}"
    type="image/x-icon"
  />
  <link
    rel="icon"
    href="{{'/favicon.ico' | relative_url }}"
    type="image/x-icon"
  />

  {% if site.analytics %} {% include analytics-lite.html %} {% endif %} {% if
  site.enable-mathjax %}
  <script
    async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML"
  ></script>
  {% endif %} {% if site.enable-chartjs %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  {% endif %}
</head>
