<div class="recent" data-aos="fade-up">
  <div class="">
    <h3>Recent Articles</h3>
  </div>
  <div class="recent-grid">
    {% for post in site.related_posts limit: 4 %}
    <div class="items" data-aos="fade-up">
      <a class="nostyle item" href="{{'{{post.url | relative_url}}">
        <div class="cards">
          <div
            class="image rounded"
            style="background-image: url({{'{{post.image | relative_url}})"
          ></div>
          <p class="title"><small>{{post.title}}</small></p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
